extends ../_template

block content
  .main-wrap

    //begin content
    section.planning.planning--arlan
        .container
            header.planning__header
                +link_to("index.html", "house", "Вернуться на главную")
                .planning__filter
                    a(href="#").btn.btn--arlan.active Студия
                    a(href="#").btn.btn--arlan 1 комната
                    a(href="#").btn.btn--arlan 2 комната
                    a(href="#").btn.btn--arlan 3 комната
            .swiper.planning__slider
                .swiper-wrapper.planning__slider-wrapper
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                    +planing-item("assets/img/flat.jpg", "Студия", "main-planning-arlan.html", arlan=true)
                .planning__slider-scrollbar-wrap.planning__slider-scrollbar-wrap--arlan
                    .swiper-scrollbar.planning__slider-scrollbar

    //end content

    include ../sections/scripts
